services:
  redis:
    image: redis:7-alpine
    container_name: taskq_redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:17
    container_name: taskq_postgres
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres"
    expose:
      - "5432"
    command: >-
      --jit=false
    ports:
      - "5432:5432"

  mongodb:
    restart: always
    image: mongo:latest
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: "root"
      MONGO_INITDB_ROOT_PASSWORD: "mongoadmin"
      MONGO_INITDB_DATABASE: "mongodb"
    expose:
      - 27017
    ports:
      - "27017:27017"

  rabbitmq:
    restart: always
    image: rabbitmq:latest
    environment:
      RABBITMQ_DEFAULT_USER: rabbit_user
      RABBITMQ_DEFAULT_PASS: rabbit_user_default_pass
      RABBITMQ_DEFAULT_VHOST: /
    expose:
      - 15672
      - 5672
    ports:
      - 5672:5672
      - 15672:15672
